body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color: #ffcc00;
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff9900;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#timer {
    font-size: 24px;
    margin: 20px;
    position: relative;
}

#questionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#question {
    font-size: 24px;
    margin: 20px;
}

#speechBubble {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
    font-size: 18px;
    display: none;
}

.answerButton {
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    position: absolute;
    max-width: 200px; /* Legger til en maksimal bredde */
    white-space: nowrap; /* Forhindrer tekstbryting */
}

#score {
    font-size: 24px;
    margin: 20px;
    position: relative; /* Legger til relativ posisjonering */
    z-index: 1; /* Sørger for at poengsummen vises over svaralternativene */
}

#bestScoreDisplay {
    font-size: 24px;
    margin: 20px;
    color: yellow;
}

#feedback {
    font-size: 24px;
    margin: 20px;
    color: red;
    position: relative; /* Legger til relativ posisjonering */
    z-index: 1; /* Sørger for at tilbakemeldingen vises over andre elementer */
}

#restartButtonInGame {
    background-color: #ffcc00;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#restartButtonInGame:hover {
    background-color: #ff9900;
}

#scoreTable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#scoreTable th, #scoreTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#scoreTable th {
    background-color: #ffcc00;
    color: black;
}
